<section>
<div class=container>
<table class="table">
  <thead>
  {{#each products}}
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Title</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
    <img style="width:70px;height:70px;" src="/product-images/{{this.product._id}}.jpg" alt=""></img>
      </th>
     <td>
       {{this.Name}}
        </td>
      <td>
    <button class="btn cart-item-count mr-3"  onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button >{{this.quantity}}<button class="btn cart-item-count ml-3" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button> 
    </td>
      <td>
      <button class="btn btn-danger">Remove</button>
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>
</div>
</section>

<script>
function changeQuantity(cartId,proId,count){
      $.ajax({
          url:'/change-product-quantity',
          data:{
              cart:cartId,
              product:proId,
              count:count
          },
          method:'post',
          success:(response)=>{
              alert(response)
          }
      })
}
</script>

